@use 'vars.scss' as *;
@use 'fonts.scss';

@use 'pages/home.scss';

@use 'components/nav.scss';
@use 'components/form.scss';

* {
  box-sizing: border-box;
}

.ti {
  user-select: none;
}

body {
  @include fs-sm;
  margin: 0px;
  background-color: $bg-default;
  color: $fg-default;

  #root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    main {
      flex: 1;
    }
  }
}

.page {
  display: block;
  padding-top: $sp-2xl;
}

.container {
  margin: 0px auto;
  padding: 0px $sp-xl;

  &.full-width {
    width: 100%;
    max-width: $w-full;
  }

  &.slim-width {
    width: 100%;
    max-width: $w-slim;
  }
}


@media (display-mode: standalone) {

  .container {
    padding: 0px $sp-lg;

    &.full-width {
      max-width: 100%;
    }
  }
}
