@use 'vars.scss' as *;
@use 'fonts.scss';

@use 'pages/home.scss';
@use 'pages/search.scss';

@use 'components/nav.scss';
@use 'components/form.scss';

* {
  box-sizing: border-box;
}

.ti {
  user-select: none;
}

body {
  margin: 0px;
  font-family: $ft-sans;
  background-color: $bg-default;
  overflow: hidden;

  p {
    @include fs-sm;
    color: #AAAAAA;
  }

  a {
    color: $fg-default;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  #root {
    display: flex;
    flex-direction: column;
    height: 100vh;

    main {
      flex: 1;
      overflow-y: auto;
      overscroll-behavior: contain;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  color: $fg-default;
}

.page {
  display: block;
  padding-top: $sp-2xl;
  padding-bottom: $sp-2xl;
}

.container {
  margin: 0px auto;
  padding: 0px $sp-xl;

  &.full-width {
    width: 100%;
    max-width: $w-full;
  }

  &.slim-width {
    width: 100%;
    max-width: $w-slim;
  }
}

@media (display-mode: standalone) {

  ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: $bg-default;
  }

  ::-webkit-scrollbar-track {
  }

  ::-webkit-scrollbar-thumb {
    box-sizing: content-box;
    border-radius: 5px;
    background-color: #1A1A1A;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #151515;
  }

  body {

    p,
    label,
    h1, h2, h3, h4, h5, h6 {
      user-select: none;
    }
  }

  .container {
    padding: 0px $sp-md;

    &.full-width {
      max-width: 100%;
    }
  }
}

.player {
  width: 100%;
  height: 0px;
  border-top: 1px solid #505050;
  background-color: #2B2B2B;
  transition: height 150ms;

  &.player--active {
    height: 72px;
  }
}
