// @use '../../../dist/libs/tabler-icons.min.css';

/* colors */
$bg-default: #242424;
$fg-default: #EEEEEE;

$cl-dark: #353535;
$cl-darker: #2B2B2B;

/* widths */
$w-full: 1500px;
$w-slim: 600px;

/* spacings */
$sp-xs: 4px;
$sp-sm: 8px;
$sp-md: 16px;
$sp-lg: 24px;
$sp-xl: 32px;
$sp-2xl: 48px;
$sp-3xl: 64px;
$sp-4xl: 84px;

/* fonts */
$ft-sans: 'Inter', sans-serif;

/* font sizes */
@mixin fs-icon {
  font-size: 1.4rem;
}

@mixin fs-sm {
  font-family: $ft-sans;
  font-size: 1rem;
  line-height: 1.4rem;
}

@mixin fs-lg {
  font-family: $ft-sans;
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.9rem;
}

@mixin fs-2xl {
  font-family: $ft-sans;
  font-size: 3.5rem;
}
