* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior-y: contain;
}

::-webkit-scrollbar {
  background-color: black;
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #27272A;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3F3F46;
}

.animate-progress {
  animation-name: progress;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.scroll-hidden::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

@keyframes progress {
  0% { width: 100% }
  100% { width: 0% }
}

.transition-modal {
  transition: all ease-in-out 250ms;
}

.transition-detail {
  transition: all ease-in-out 180ms;
}

.modal-active {
  top: 0 !important;
}

.detail-active {
  left: 0 !important;
}

.slide-hidden {
  opacity: 0;
  pointer-events: none;
}

.slide-active {
  height: 22vw !important;
  bottom: 16px !important;
  transform: translate(0, 0) !important;
  right: 16px !important;
  max-height: 100px !important;
  cursor: pointer;
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.5);
}

@media(min-width: 768px) {

  .transition-detail {
    transition: none !important;
  }

  .slide-active {
    bottom: 32px !important;
    right: 32px !important;
  }
}

.text-animate span {
  position: relative;
  animation: leftright 3s infinite alternate linear;
}

.text-animate::before,
.text-animate::after {
  content: '';
  display: block;
  position: absolute;
  width: 0.5rem;
  height: 100%;
  z-index: 2;
  top: 0;
}

.text-animate::before {
  left: 0;
  background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.text-animate::after {
  right: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

@keyframes leftright {
  0%,
  20% {
    transform: translateX(0%);
    left: 0%;
  }
  80%,
  100% {
    transform: translateX(-100%);
    left: 100%;
  }
}

.btn-icon-rotate .ti {
  transform: rotate(180deg);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/asset/font/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/asset/font/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/asset/font/Inter-SemiBold.ttf') format('truetype');
}
