* {
  -webkit-tap-highlight-color: transparent;
}

body {
  overscroll-behavior-y: contain;
}

::-webkit-scrollbar {
  background-color: black;
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color: #27272A;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3F3F46;
}

.animate-progress {
  animation-name: progress;
  animation-duration: 60s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes progress {
  0% { width: 100% }
  100% { width: 0% }
}

.transition-modal {
  transition: all ease-in-out 250ms;
}

.modal-active {
  top: 0 !important;
}

.slide-hidden {
  opacity: 0;
  pointer-events: none;
}

.slide-active {
  height: 22vw !important;
  bottom: 16px !important;
  transform: translate(0, 0) !important;
  right: 16px !important;
  max-height: 100px !important;
  cursor: pointer;
  box-shadow: 0 4px 16px 4px rgba(0, 0, 0, 0.5);
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/asset/font/Inter-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/asset/font/Inter-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('/asset/font/Inter-SemiBold.ttf') format('truetype');
}
